<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Exportar Dataset</title>
</head>
<body>
    <h2>Exportar Dados do MongoDB</h2>

    <form method="POST">
        <label for="collection_exportar">Coleção:</label>
        <select name="collection_exportar" id="collection_exportar" required>
            <option value="t_cliente">Cliente</option>
            <option value="t_clinica">Clinica</option>
            <option value="t_dentista">Dentista</option>
            <option value="t_sugestao_clinica">Sugestão Clinica</option>
            <option value="t_sugestao_cliente">Sugestão Cliente</option>
            <option value="t_agendamento">Agendamento</option>
            <option value="t_consulta">Consulta</option>
            <option value="t_feedback">Feedback</option>
            <option value="t_resultado_consulta">Resultado da Consulta</option>
            <option value="t_notificacao">Notificação</option>
            <option value="t_interacoes_chat">Interação com ChatBot</option>
        </select><br><br>

        <button type="submit">Exportar para JSON</button>
    </form>

    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}

    <br><a href="{{ url_for('home') }}">Voltar ao Início</a>
</body>
</html>
